<section>

  <form>
    <input type="text" placeholder="Filter by city" #cityFilter />
    <button class="primary" type="button" (click)="filterResults(cityFilter.value)">Search</button>
  </form>

  <br>

  <form>
    <input type="number" placeholder="Number of bedrooms" #bedroomsFilter />
    <button class="primary" type="button" (click)="filterDormitorios(bedroomsFilter.value)">Filtro Dormitorio</button>
  </form>

  <br>

  <form>
    <label>
      <input type="radio" name="garageFilter" value="true" (change)="filterGaraje(true)"> Si
    </label>
    <label>
      <input type="radio" name="garageFilter" value="false" (change)="filterGaraje(false)"> No
    </label>
    <button class="primary" type="button" (click)="clearGarageFilter()">Clear</button>
  </form>

  <br>

  <button class="primary" (click)="navigateToFrom()">New Home</button>
</section>

<section class="results">
  <app-housing-location 
    *ngFor="let housingLocation of filteredLocationList"
    [housingLocation]="housingLocation">
  </app-housing-location>
</section>