<article>
  <img class="listing-photo" [src]="housingLocation?.photo" alt="Exterior photo of {{ housingLocation?.name }}"
    crossorigin />
  <section class="listing-description">
    <h2 class="listing-heading">{{ housingLocation?.name }}</h2>
    <p class="listing-location">{{ housingLocation?.city }}, {{ housingLocation?.state }}</p>
  </section>

  <section class="listing-features">
    <h2 class="section-heading">About this housing location</h2>
    <ul>
      <li>Units available: {{ housingLocation?.availableUnits }}</li>
      <li>Does this location have wifi: {{ housingLocation?.wifi }}</li>
      <li>Does this location have laundry: {{ housingLocation?.laundry }}</li>
    </ul>
  </section>

  <!--Si tiene wifi
  <section class="listing-features">
  <h2 class="section-heading">About this housing location</h2>
  <ul>
    <li *ngIf="housingLocation?.wifi === true">Does this location have wifi: Yes</li>
  </ul>
  </section>-->


  <section>
    <h3>Seguridiad</h3>
    <ul>
      <li>{{housingLocation?.seguridad}} tinen seguridad.</li>
      <li>Tipo de seguridad: {{housingLocation?.tipoSeguridad}}</li>
    </ul>
  </section>

  <br>

  <section>
    <h3>Status</h3>
    <ul>
      <li>{{housingLocation?.status}}.</li>
    </ul>
  </section>

  <br>

  <section>
    <h3>Unidades disponibles</h3>
    <ul>
      <li>{{housingLocation?.availableUnits}}</li>
    </ul>
  </section>
  <br>
  <section>
    <h3>Tipo casa:</h3>
    <ul>
      <li>{{housingLocation?.type}}.</li>
    </ul>
  </section>
  <br>
  <section>
    <h3>Dormitorios:</h3>
    <ul>
      <li>{{housingLocation?.bedrooms}}.</li>
    </ul>
  </section>
  <br>

  <section class="listing-features">
    <ul>
      <li *ngIf="housingLocation?.hasGarage === true">Si tiene garaje.</li>
    </ul>
  </section>

  <br>

  <section>
    <div class="row mt-5">
      <div class="col-12">
        <h3 class="text-center mb-4">Mapa de Destino</h3>
        <div id="map" style="width: 42%; height: 500px;"></div>
      </div>
    </div>
  </section>

  <br>

  <section class="listing-apply">
    <h2 class="section-heading">Apply now to live here</h2>
    <form [formGroup]="applyForm" (submit)="submitApplication()">
      <label for="first-name">First Name</label>
      <input id="first-name" type="text" formControlName="firstName" />
      <div *ngIf="applyForm.get('firstName')?.invalid && applyForm.get('firstName')?.touched" class="error">
        <small *ngIf="applyForm.get('firstName')?.errors?.['required']">First name is required.</small>
        <small *ngIf="applyForm.get('firstName')?.errors?.['minlength']">Minimum 2 characters required.</small>
      </div>

      <label for="last-name">Last Name</label>
      <input id="last-name" type="text" formControlName="lastName" />
      <div *ngIf="applyForm.get('lastName')?.invalid && applyForm.get('lastName')?.touched" class="error">
        <small *ngIf="applyForm.get('lastName')?.errors?.['required']">Last name is required.</small>
        <small *ngIf="applyForm.get('lastName')?.errors?.['minlength']">Minimum 2 characters required.</small>
      </div>

      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" />
      <div *ngIf="applyForm.get('email')?.invalid && applyForm.get('email')?.touched" class="error">
        <small *ngIf="applyForm.get('email')?.errors?.['required']">Email is required.</small>
        <small *ngIf="applyForm.get('email')?.errors?.['email']">Please enter a valid email.</small>
      </div>


      <button type="submit" class="primary" [disabled]="applyForm.invalid || housingLocation?.availableUnits === 0">
        Apply now
      </button>
    </form>

  </section>

</article>